.gallery-header {
    margin-top: 1rem;
    display: flex;
    background-color: rgb(101, 98, 104);
    border-radius: 15px;
    padding: 1rem 1rem 1rem 1rem;
}

.select-category {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    width: 30%;
    font-variant: small-caps;
    border-right: 1px solid grey;
}
.select-label {
    color: white;
    margin-bottom: 10px;
    font-style: italic;
}
.select-values {
    height: 1.5rem;
    border: 1px solid gray;
}

.favorites {
    width: 50%;
    display: flex;
    justify-content: center;
    font-variant: small-caps;
}

.favorites a {
    border-radius: 15px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    font-variant: small-caps;
    margin: 10px;
    font-weight: 600;
}
.favorites a:hover {
    background-color: #ddd;
    color: black;
}
.favorites a.active {
    background-color: #2b423a;
    color: white;
}

.photos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0rem;
}
.photo {
    background-color: rgb(190, 190, 190);
    margin: 1rem;
    max-width: 300px;
    max-height: 450px;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 10px;
    color: rgb(62, 62, 62);
}
.photo > h6 {
    margin: 0;
    padding: 0.50rem;
}
.photo > p {
    max-height: 150px;
    overflow: hidden;
    margin: 1rem;
}
.photo-img {
    margin: 1rem;
    display: flex;
    justify-content: center;
}
.photo-img > img {
    border: 1px solid white;
    border-radius: 10px;
    max-width: 300px;
    max-height: 150px;
}
.photo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}
.photo-header > h1 {
    margin: 0;
}
.photo-header > mat-icon {
    padding-right: 0.5rem;
}

.favorite-icon {
    color: whitesmoke;
}

.favorite-icon-like {
    color: rgb(255, 123, 152);
}


