<div class="gallery-container">
    <div class="gallery-header">
        <div class="select-category">
            <label class="select-label" for="category">Filter image by category</label>
            <select class="select-values" name="category" id="category" (change)="onChangeCategory($event)">
                <option value="" disabled selected hidden>Select your option...</option>
                @for(category of categorys; track category) {
                    <option value="{{category.value}}">{{category.label}}</option>
                }
            </select>
        </div>
        <div class="favorites">
            @if(isFavorites) {
                <a (click)="onClickFavorites()">Favorites</a>
            } @else {
                <a (click)="onClickHomeGallery()">back to Gallery</a>
            }
        </div>  
    </div>
    
    @if(isFavorites) {
        <div class="photos-container">
            @for(photo of photos; track photo.id) {
                <div class="photo">
                    <div class="photo-header">
                        <h1>{{photo.title}}</h1>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                    </div>
                    <h6><u>{{photo.category}}</u></h6>
                    <div class="photo-img">
                        <img src="../../../assets/gallery-images/{{photo.file_name}}"/>
                    </div>
                    <p>{{photo.description}}</p>
                </div>
            }
        </div>>
    } @else {
        <router-outlet />
    }
</div>

