<div class="gallery-container">
    <div class="gallery-header">
        <div class="select-category">
            <label class="select-label" for="category">Filter image by category</label>
            <div class="filter-container">
                <select [disabled]="!isGalleryHome" class="select-values" name="category" id="category" (change)="onChangeCategory($event)" [(ngModel)]="selectedValue">
                    <option value="0" disabled selected hidden>Select your option...</option>
                    @for(category of categorys; track category) {
                        <option value="{{category.value}}">{{category.label}}</option>
                    }
                </select>
                @if(isFiltered) {
                    <i class="pi pi-times close-filter" (click)="onClickCloseFilter()"></i>
                }
            </div>

        </div>
        <div class="favorites">
            @if(isGalleryHome) {
                <a (click)="onClickFavoritesPage()">Favorites</a>
            } @else {
                <a (click)="onClickHomeGallery()">back to Gallery</a>
            }
        </div>  
    </div>
    
    <div class="photos-container">
        @if(isGalleryHome) {
            @for(photo of photos; track photo.id) {
                <app-photo (photoDetailsEvent)="onPhotoDetails($event)" [photo]="photo"/>
            }

            @if(!thereIsPhoto) {
                <div class="no-photos-container">
                    <p>No images for this category!</p>
                    <img src="../../../assets/image-not-found-icon.png"/>
                </div>
            }

        } 

        <router-outlet />
    </div>
</div>

