<div class="weather-container">
    <h1>Weather Conditions</h1>

    <form (ngSubmit)="onGetWeather()">
        <div class="city-input">
            <label for="city">Type the name of a city</label>
            <input type="text" id="city" name="cityInput" [(ngModel)]="city" (input)="onChangeCity()" placeholder="Enter name here..."/>
            <button type="submit">Go weather!</button>
            @if(errorCity) {
                <p class="error-city">Please enter a valid city name!</p>
            }
        </div>
    </form>

    <div class="weather-info-container">
        @if(weatherInfo) {
            <div class="weather-info-header">
                <h1><b>{{weatherInfo.name}}</b></h1>
                <img src="../../../assets/icons/{{weatherInfo.iconName}}.png"/>
            </div>
            <h4><b>Temperature</b>: {{weatherInfo.temperature}} C°</h4>
            <h4><b>Humidity</b>: {{weatherInfo.humidity}}% | <b>Pressure</b>: {{weatherInfo.pressure}} hPa | <b>Wind</b>: {{weatherInfo.windSpeed}} m/s</h4>
            <h4><b>Clouds</b>: {{weatherInfo.clouds}}%, {{weatherInfo.weatherDescription}}</h4>
            
        }
    </div>
</div>